Repository nebty-GmbH/dns-checker: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, requirements-check

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

django-check-migrations:
  name: Django Check Migrations
  entry: python manage.py makemigrations --check --dry-run
  language: system
  pass_filenames: false

requirements-check:
  name: Requirements Check
  entry: python -m pip check
  language: system
  pass_filenames: false

Organize documentation: Move all .md files to /docs folder
  README.md
  docs/API_DOCUMENTATION.md
  docs/CONTINUOUS_MONITORING.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DOKKU_DEPLOYMENT.md
  docs/MONITOR_CONFIGURATION.md
  docs/PRE_COMMIT_SETUP.md
  docs/PRODUCTION_READY.md
  docs/PROJECT_STATUS.md
  docs/README.md
Due: none

Fix pytest setup and complete test suite
  dns_checker/settings_test.py
  pytest.ini
  requirements.txt
  test_admin.py
  test_domains.txt
  test_duplicate_domains.py
  test_production.sh
  tests/__init__.py
  tests/conftest.py
  tests/test_admin.py
  tests/test_integration.py
  tests/test_management_commands.py
  tests/test_models.py
  tests/test_tasks.py
Due: django-check, django-check-migrations, requirements-check

feat(sentry): add Sentry SDK, init in settings, and /sentry-debug route; update requirements
  dns_checker/settings.py
  dns_checker/urls.py
  requirements.txt
Due: django-check, requirements-check

Add migration 0010 to normalize index names generated by Django.
  dns_checker/settings.py
  monitor/admin.py
  monitor/admin_views.py
  monitor/migrations/0009_domain_indexes.py
  monitor/migrations/0010_rename_monitor_dom_is_active_idx_monitor_dom_is_acti_4b7a17_idx_and_more.py
  monitor/models.py
Due: django-check, django-check-migrations

feat: implement comprehensive Sentry logging integration
  SENTRY_IMPLEMENTATION.md
  dns_checker/settings.py
  dns_checker/settings_test.py
  docs/SENTRY_LOGGING.md
  monitor/tasks.py
  requirements.txt
  sentry_logging_demo.py
Due: django-check, requirements-check

fix: resolve linting issues in emergency_fix.py and test_cleanup_command.py
  DATABASE_CLEANUP_GUIDE.md
  PRIORITY_1_OPTIMIZATIONS.md
  emergency_fix.py
  monitor/management/commands/cleanup_no_change_logs.py
  monitor/tasks.py
  production_cleanup.sh
  test_cleanup_command.py
Due: django-check

feat: add safe deployment scripts for database unlinked scenarios
  Procfile.safe
  deploy_safe.sh
  restore_full_procfile.sh
Due: none

Revert "feat: add safe deployment scripts for database unlinked scenarios"
  Procfile.safe
  deploy_safe.sh
  restore_full_procfile.sh
Due: none

Replace runtime.txt with .python-version for new Heroku buildpack compatibility
  Procfile.safe
  deploy_safe.sh
  restore_full_procfile.sh
  runtime.txt
Due: none

Temporarily simplify Procfile to get web app deployed
  Procfile
Due: none

Remove worker and beat processes from app.json to match simplified Procfile
  app.json
Due: none

Temporarily disable health checks to allow deployment
  app.json
Due: none

Restore Celery worker and beat processes
  Procfile
  app.json
Due: none

Add CSRF_TRUSTED_ORIGINS and proxy configuration settings
  dns_checker/settings.py
Due: django-check

Fix: HTML snapshot feature - separate deduplication logic for initial vs change snapshots
  README.md
  monitor/tasks.py
  prod_debug.py
Due: django-check

Fix IP WHOIS organization parsing for RDAP responses
  monitor/tasks.py
  test_snapshots.py
Due: django-check

Add management command to refresh WHOIS records
  README.md
  docs/DATABASE_CLEANUP_GUIDE.md
  docs/PRIORITY_1_OPTIMIZATIONS.md
  docs/SENTRY_IMPLEMENTATION.md
  docs/WHOIS_REFRESH_COMMAND.md
  monitor/management/commands/refresh_whois_records.py
Due: django-check

Add --force option to refresh_whois_records command
  monitor/management/commands/refresh_whois_records.py
Due: django-check

Add force_refresh parameter to fetch_ip_whois_info task and refresh command
  monitor/management/commands/refresh_whois_records.py
  monitor/tasks.py
Due: django-check

Enhance domain dashboard with organization filter and sortable columns
  monitor/admin_views.py
  monitor/templates/admin/monitor/enhanced_domain_dashboard.html
Due: django-check

Add Known IPs filter to domain dashboard
  monitor/admin_views.py
  monitor/templates/admin/monitor/enhanced_domain_dashboard.html
Due: django-check

Path conditions:
  django-check: any of: \.(py)$, but not: migrations/.*
  django-check-migrations: any of: models\.py$
  requirements-check: any of: requirements\.txt$
